LUCY_SAMPLE_RATE_HZ=16000
LUCY_WAKE_ACTIVE_MS=10000
LUCY_VAD_END_SILENCE_MS=1500
LUCY_VAD_MIN_SPEECH_MS=256
LUCY_WAKEUP_TONE_SETTLE_MS=50
CMD_WAKE_LUCY=1
LUCY_WIFI_SSID=GuWIFI
LUCY_WIFI_PASSWORD=change_me
LUCY_WIFI_MAX_RETRY=10
LUCY_WIFI_CONNECT_TIMEOUT_MS=15000
LUCY_SPK_GAIN_HIGH=0
LUCY_SPK_VOLUME_PERCENT=25
LUCY_WS_URI=ws://192.168.8.109:8289/emorobot/v1/
LUCY_WS_AUTH_TOKEN=
LUCY_WS_OPUS_FRAME_DURATION_MS=60
LUCY_WS_OPUS_BITRATE=24000
LUCY_WS_OPUS_COMPLEXITY=3
LUCY_WS_RX_BUFFER_BYTES=4096
